-e git+https://github.com/kli512/Big-Inters-Flask.git@73eb05a3c770f53216f657099dc41930e02ff416#egg=BigInters&subdirectory=backend
-e git+https://github.com/kli512/Big-Inters-Flask.git@73eb05a3c770f53216f657099dc41930e02ff416#egg=BigIntersFrontend&subdirectory=frontend
certifi==2022.12.7
chardet==3.0.4
click==7.1.1
Flask==1.1.1
Flask-Cors==3.0.8
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
requests==2.23.0
six==1.14.0
urllib3==1.25.8
Werkzeug==1.0.0
