{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Lookup{% endblock %}</h1>
{% endblock %}

{% block content %}
<div id="mainContent">
  <form action="javascript:generateResponse()">
    Summoner Name: <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type='text'
      id='summonerBox'> <br>
    Number of Matches: <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type='text'
      id='matchesBox'> <br>
    <input type="radio" id="NA1" name="regionSelect" value="NA1" checked="checked">
    <label for="NA1">NA</label><br>
    <input type="radio" id="EUW1" name="regionSelect" value="EUW1">
    <label for="EUW1">EUW</label><br>
    Customs? <input type='checkbox' id='CustomsBox' name="queueSelect" value="0"> <br>
    5v5 ARAM? <input type='checkbox' id='ARAMBox' name="queueSelect" value="450"> <br>
    5v5 Blind Pick? <input type='checkbox' id='BlindBox' name="queueSelect" value="430"> <br>
    5v5 Draft Pick? <input type='checkbox' id='DraftBox' name="queueSelect" value="400"> <br>
    5v5 Ranked Solo/Duo? <input type='checkbox' id='SoloDuoBox' name="queueSelect" value="420"> <br>
    5v5 Ranked Flex? <input type='checkbox' id='FlexBox' name="queueSelect" value="440"> <br>

    <input type="submit">
  </form>
</div>
<div id="responseContent">
  <h3 id="responseStatus"></h3>
  <table id="responseTable"></table>
</div>

<script src="{{ url_for('static', filename='sorttable.js') }}"></script>
<script>
  var responseContent = document.getElementById('responseContent');
  var responseStatus = document.getElementById('responseStatus');
  var responseTable = document.getElementById('responseTable');

  function updateResponseContent(data) {
    responseTable.innerHTML = '';

    var tHead = responseTable.createTHead();
    var row = tHead.insertRow();

    var header = ['Summoner', 'Encounters', 'Kills', 'Deaths', 'Assists'];
    for (var headerName of header) {
      let th = document.createElement('th');
      th.innerText = headerName;

      row.appendChild(th);
    }

    var tBody = responseTable.createTBody();

    for (var summoner_i = 0; summoner_i < data.length; summoner_i++) {
      summoner = data[summoner_i];
      row = tBody.insertRow();
      row.insertCell().innerText = summoner[0];
      row.insertCell().innerText = summoner[1]['encounters'];
      row.insertCell().innerText = summoner[1]['kills'];
      row.insertCell().innerText = summoner[1]['deaths'];
      row.insertCell().innerText = summoner[1]['assists'];
    }

    responseStatus.innerText = '';
    sorttable.makeSortable(responseTable);
  }

  function generateResponse() {
    var summonerBox = document.getElementById('summonerBox'),
      matchesBox = document.getElementById('matchesBox'),
      regionRadios = document.getElementsByName('regionSelect'),
      queueBoxes = document.getElementsByName('queueSelect');

    var summonerName = summonerBox.value,
      nMatches = matchesBox.value,
      region = null,
      queues = [];

    for (var i = 0; i < regionRadios.length; i++)
      if (regionRadios[i].checked)
        region = regionRadios[i].value;

    for (var i = 0; i < queueBoxes.length; i++)
      if (queueBoxes[i].checked)
        queues.push(queueBoxes[i].value);

    responseStatus.innerText = 'Loading...';

    var xhr = new XMLHttpRequest()
    xhr.open('POST', '/bi_api/analyze');
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.onload = () => {
      if (xhr.status == 200) {
        updateResponseContent(JSON.parse(xhr.responseText)['responseData']);
        return;
      }
      else if (xhr.status >= 500)
        alert('Internal Server Error');
      else if (xhr.status >= 400)
        alert('Invalid player request!');
      else
        alert('Unknown error occured');
      responseStatus.innerText = 'Error!';
    }
    xhr.onerror = () => {
      alert('Transport error occured. Contact server owner');
    }
    payload = JSON.stringify({
      'summoner': summonerName,
      'matches': nMatches,
      'queues': queues,
      'region': region
    })
    console.log(payload);
    xhr.send(payload);
  }
</script>
{% endblock %}